In [6]:
import numpy as np
import scipy.stats as stats
from scipy.stats import norm
import arviz as az
import pandas as pd
import pymc as pm
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Besteiro-exe/trabalhoPP/refs/heads/master/StudentStressFactors(2).csv")
df

,sleep quality,headaches per week,academic performance,study load,extracurricular activities per week,stress levels
0,3,1,3,4,2,3
1,4,1,2,3,3,2
2,2,1,2,1,4,4
3,3,2,3,2,3,3
4,2,3,1,5,5,3
...,...,...,...,...,...,...
515,3,2,4,2,3,1
516,2,4,3,2,1,2
517,2,3,5,1,5,2
518,3,4,3,5,2,5
519,5,1,5,5,5,4